header{
    background-color: rgb(36 24 165);
    background-image: url("../img/pattern.png");
    height: 175px;
    text-align: left;
}

header > img{
    width: 300px;
    margin-top: 85px;
    margin-left: 15px;
}

.titolo_pagina{
    text-align: left;
    padding: 10px;
}

.titolo_pagina > h1{
    font-size: 70px;
}

.titolo_pagina > p{
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

p > a{
    text-decoration: none;
}

.foto{
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

.tim1 {
    width: 51.9%;
}

.tim2{
    width: 44.4%;
}

.foto > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}